
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root {
  --bg: #0d120f;

  --surface: #f6f1e8;
  --surface-dark: #111a14;

  --text: #161616;
  --text-light: #f5f5f5;

  --pink: #f47cab;
  --lime: #d7ff3f;
  --black: #050505;

  --border: #1e1e1e;

  --shadow-soft: 0 20px 50px rgba(0, 0, 0, 0.15);

  /* --sans: system-ui, sans-serif; */
  --sans: "Inter", sans-serif;
  --heading: "Arial Black", system-ui, sans-serif;
}

/* Global sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}


body {
  margin: 0;
  background: var(--bg);
  font-family: var(--sans);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
}

a {
  cursor: pointer;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE och Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


@media (max-width: 767px) {
  .page-decoration {
    display: none !important;
  }
}


