
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root {
  --bg: #0d120f;

  --surface: #f6f1e8;
  --surface-dark: #111a14;

  --text: #161616;
  --text-light: #f5f5f5;

  --pink: #f47cab;
  --lime: #d7ff3f;
  --black: #050505;

  --border: #1e1e1e;

  --shadow-soft: 0 20px 50px rgba(0, 0, 0, 0.15);

  /* --sans: system-ui, sans-serif; */
  --sans: "Inter", sans-serif;
  --heading: "Arial Black", system-ui, sans-serif;
}

/* Global sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}


body {
  margin: 0;
  background: var(--bg);
  font-family: var(--sans);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
}

a {
  cursor: pointer;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE och Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* .arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow-link:hover .arrow-icon {
  transform: translateX(8px);
} */


@media (max-width: 767px) {
  .page-decoration {
    display: none !important;
  }
}

/* .torn-bottom {
  position: relative;
}

.torn-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 34px;
  background: var(--bg);
  clip-path: polygon(
    0 65%,
    6% 55%,
    12% 70%,
    18% 58%,
    25% 75%,
    33% 60%,
    42% 72%,
    50% 55%,
    58% 70%,
    66% 60%,
    75% 76%,
    84% 58%,
    92% 70%,
    100% 55%,
    100% 100%,
    0 100%
  );
} */





/* 
:root {
  --bg: #0d120f;
  --surface: #f7f1e8;
  --surface-dark: #111a14;

  --text: #171717;
  --text-light: #f8f4ea;

  --pink: #f26fa4;
  --lime: #d8ff3e;
  --black: #050505;

  --border: #1d1d1d;

  --shadow-soft: 0 20px 60px rgba(0, 0, 0, 0.18);

  --sans: system-ui, sans-serif;
  --heading: "Arial Black", system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--sans);
  background: var(--bg);
  color: var(--text);
} */
















/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  background: #0d120f;
} */




/* #root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
